<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.onandoff.onandoff_android.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.onandoff.onandoff_android.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name="com.onandoff.onandoff_android.util.SharePreference"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnAndOffAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <service android:name="com.onandoff.onandoff_android.data.api.notification.MyFirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.home.setting.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.setting.BlockedUserListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.setting.PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.setting.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.setting.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.look.ReportFeedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.posting.PostingReadActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.home.persona.CreatePersonaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaoae1a0ec9bf2a22467f3c77957ae9fffb" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.usercheck.SignupActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.usercheck.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.splash.SignupPolicyActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.splash.SignupEmailActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.profile.ProfileCreateActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.home.posting.PostingModifyActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.home.posting.PostingAddActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.splash.PrivatePolicyActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.splash.ServicePolicyActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.onandoff.onandoff_android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>